<div>
    <button (click)="createQuestionnaire()" class="ui-button-secondary" pButton type="button" label="Create new questionnaire"
     style="float: right"></button>
</div>
<div style="clear: both"></div>
<div style="width: 80%; margin: 10px auto">
    <p-dataList [value]="questionnaires" [paginator]="true" [rows]="5" >
        <template let-quest>
            <div class="" style="font-size:16px;padding:10px;border-bottom:1px solid #D5D5D5;">
                <div class="ui-grid-row">
                    <div style="text-align:left; float:left" >
                        <a (click)="gotoView(quest)" >
                            {{quest.description}}
                        </a>
                    </div>
                    <div style="text-align:left; float:right">
                        <button class="ui-button-secondary small" pButton type="button" label="EDIT" (click)="gotoEdit(quest)"></button>
                        <button class="ui-button-danger small" pButton type="button" label="DEL" (click)="delete(quest)"></button>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </template>
    </p-dataList>
</div>
<div>
    <button (click)="createQuestionnaire()" class="ui-button-secondary" pButton type="button" label="Create new questionnaire"
     style="float: right"></button>
</div>
