<h1>Sentences Manager</h1>
<div style="float:left">
    <label for="SearchTextInput">Search</label>
    <input id="SearchTextInput" type="text" [ngModel]="searchText" (ngModelChange)="onChange($event)" placeholder="search text">
</div>
<div style="float:right">
    <label for="ActionsInput">Actions</label>
    <span id="ActionsInput">
        <input type="button" value="Delete" (click)="modalSentenceDelete.open()">
    </span>
</div>
<div style="clear: both"> </div>
<hr>
<p *ngFor="let sentence of sentences; let i = index">
    <input type="checkbox" (change)="selectionChange(sentence)"/>
    <span style="width:100%">"{{sentence.Text}}</span>
</p> 

<modal #modalSentenceDelete (onClose)="deleteSelected()">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Delete</h4>
    </modal-header>
    <modal-body>
        Do you really want to delete the following sentences? <br />
        <ul>
            <li *ngFor="let sentence of selected; let i = index">
                {{sentence.Text}}
            </li>
        </ul>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalSentenceDelete.dismiss()">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalSentenceDelete.close()">Yes</button>
    </modal-footer>
</modal>