<h1>Sentences Manager</h1>
<div style="float:left">
    <label for="SearchTextInput">Search</label>
    <input id="SearchTextInput" type="text" [ngModel]="searchText" (ngModelChange)="onChange($event)" placeholder="search text">
</div>
<div style="float:right">
    <label for="ActionsInput">Actions</label>
    <select>
        <option value="Delete">Delete</option>
    </select>
    <input type="button" value="Go">
</div>
<div style="clear: both"> </div>
<hr>
<p *ngFor="let sentence of sentences; let i = index">
    <input type="checkbox" />
    <span style="width:100%">"{{sentence.Text}}</span>
</p> 

