<div class="questionnaire-view">
    <label>Description: </label>
    <span>{{questionnaire.Description}}</span>
    <div *ngFor="let section of questionnaire.Sections; let s = index" class="section-view">
        <h2 class="description">
            <span>{{section.Description}}</span>
        </h2>
        <div *ngFor="let question of section.Questions; let i = index" class="question-view">
            <div class="questionHeader contrastBackground">
                <span>Question n. {{i+1}}</span>
            </div>
            <p>{{question.Sentence.Text}}</p>
            <div class="answer-view clearFloat" 
                *ngFor="let answer of question.Answers; let a = index"
                 [ngClass]="{rightAnswer: isRighAnswer(answer), wrongAnswer: isWrongAnswer(answer)}">
                <input type="checkbox" [(ngModel)]="answer.Selected" />
                <div>{{answer.Sentence.Text}} <span>{{answer.IsCorrect}}</span></div>
            </div>
        </div>
    </div>
    <div class="centerContent">
        <button class="checkButton accentButton" (click)="checkAnswers(questionnaire)">CHECK</button>
    </div>
</div>
