<div class="form-group">
    <!--<label>Upload Image</label>-->
    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-default btn-file">
                Browse… <input #fileInput type="file" id="imgInp" (change)="fileInputChange($event)" (ngModel)="currentFile" >
            </span>
            <span *ngIf="currentFile && showUploadButton" class="btn btn-default btn-file" (click)="upload()">
                Upload
            </span>
        </span>
        <input type="text" class="form-control" readonly [ngModel]="currentFileName" >
    </div>
    <img *ngIf="currentFileContent" id='img-upload' src="{{currentFileContent}}"/>
</div>