<div class="questionnaire-edit">
    <div class="toolbar">
        <button (click)="update()" class="accentButton">Save</button>
    </div>
    <div class="detailsArea">
        <div class="contrastBackground" style="padding:5px; margin-bottom:20px;">Details:</div>
        <label>Description: </label>
        <input type="text" [(ngModel)]="questionnaire.Description" placeholder="Add a description" />
    </div>
    <div *ngFor="let section of questionnaire.Sections; let s = index" class="section-edit">
        <div *ngIf="!section.Deleted">
            <h2 class="description">
                <input type="text" [(ngModel)]="section.Description" placeholder="Section name" />
                <!--<button (click)="remove(questionnaire.Sections,s);">X</button>-->
                <button (click)="delete(section);">X</button>
            </h2>
            <div *ngFor="let question of section.Questions; let i = index" class="question-edit">
                <div *ngIf="!question.Deleted">
                    <div class="tools contrastBackground">
                        <span>Question n. {{i+1}}</span>
                        <button (click)="delete(question)">X</button>
                    </div>
                    <p>
                        <a *ngIf="!question.FileId" (click)="uploadImageForQuestion(question)">Upload Image</a>
                        <a *ngIf="question.FileId" (click)="question.FileId=null">Remove Image</a>
                        <br />
                        <img *ngIf="question.FileId" class="question-image" src="{{fileUploadService.getImageUrl(question.FileId)}}" />
                    </p>
                    <sentence-edit [(sentence)]="question.Sentence"></sentence-edit>
                    <h3>Answers:</h3>
                    <table *ngFor="let answer of question.Answers; let a = index">
                        <tr *ngIf="!answer.Deleted" class="answer-edit" >
                            <td>
                                <input type="checkbox" style="float:left" [(ngModel)]="answer.IsCorrect" />
                            </td>
                            <td style="width:100%"> 
                                <sentence-edit [(sentence)]="answer.Sentence" ></sentence-edit>
                            </td>
                            <td>
                                <button (click)="delete(answer)">X</button>
                            </td>
                        </tr>
                    </table>
                    <div class="placeholder-dashed-box unactiveContainer verticallyCenterContent" 
                        style="height: 30px; margin-top:10px;"
                        (click)="addAnswer(question)">
                        <span>Click to add a new Answer</span>
                    </div>
                </div>
            </div>
            <div class="placeholder-dashed-box unactiveContainer verticallyCenterContent" 
                style="height:80px"
                (click)="addQuestion(section)">
                <span>Click to add a new Question</span>
            </div>
        </div>
    </div>
    <div class="placeholder-dashed-box unactiveContainer verticallyCenterContent" 
         style="height:80px"
         (click)="addSection(questionnaire)">
        <span>Click to add a new Section</span>
    </div>
    <div class="toolbar">
        <button (click)="update()" class="accentButton">Save</button>
    </div>
</div>



<modal #modalSaved>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Saved</h4>
    </modal-header>
    <modal-body>
        Questionnaire saved:<br/> ({{questionnaire.Id}}) {{questionnaire.Description}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalSaved.dismiss()">Ok</button>
    </modal-footer>
</modal>

<modal #modalNewSentences (onClose)="updateConfirm()">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Saved</h4>
    </modal-header>
    <modal-body>
        New sentences will be created: do you want to procede:<br/> 
        <ul>
            <li *ngFor="let sentence of newSentences; let i = index">
                {{sentence.Text}}
            </li>
        </ul>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalNewSentences.dismiss()">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalNewSentences.close()">Yes</button>
    </modal-footer>
</modal>

<modal #modalFileUpload >
    <modal-header [show-close]="!uploadingImage">
        <h4 class="modal-title">Upload Image</h4>
    </modal-header>
    <modal-body>
        <image-upload style="width: 100%" showUploadButton="true" 
                [(file)]="imageToUpload"
                (onUploadCompleted)="uploadFinished(true,$event)" 
                (onUploadError)="uploadFinished(false,$event)" ></image-upload>
    </modal-body>
    <modal-footer>
        <button *ngIf="!imageUploaded && !uploadingImage" type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalFileUpload.dismiss()">Cancel</button>
        <button *ngIf="imageUploaded" type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalFileUpload.dismiss()">Close</button>        
    </modal-footer>
</modal>

<modal #infoModal >
    <modal-header [show-close]="true">
        <h4 class="modal-title">Info</h4>
    </modal-header>
    <modal-body>
        {{infoModalMessage}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalSaved.dismiss()">Ok</button>
    </modal-footer>
</modal>


