<div class="questionnaire-edit">
    <div class="container" style="margin-bottom: 100px;">
        <div class="col-sm-12">
            <div class="row">
                <div class="container">
                    <span class="pull-right">
                        <a (click)="update()" class="btn btn-lg btn-primary">Save</a>
                    </span>
                </div>
            </div>
            <br /><br />
            <div class="row form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description: </label>
                    <div class="col-sm-8">
                        <input id="description" class="form-control" type="text" [(ngModel)]="questionnaire.Description" placeholder="Add a description" />
                    </div>
                </div>
            </div>
            <br /> <br />
            <div *ngFor="let section of questionnaire.Sections; let s = index">
                <div class="container" *ngIf="!section.Deleted">
                    <div class="form-horizontal col-sm-11 panel panel-default">
                        <div class="form-group panel-body sectionPanel">
                            <label class="control-label col-sm-2" for="section">Section: </label>
                            <div class="col-sm-8">
                                <input id="section" class="form-control" type="text" [(ngModel)]="section.Description" placeholder="Add a description" />
                            </div>
                            <br /><br />
                            <div *ngFor="let question of section.Questions; let i = index">
                                <div class="row" *ngIf="!question.Deleted">
                                    <div class="col-sm-11 bs-callout bs-callout-info" style="text-align:center">
                                        <div class="col-sm-12 form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label" for="questionInput">Question: </label>
                                                <div class="row">
                                                    <div class="col-sm-1" style="max-width: 50px">
                                                        <h3 class="questionNumber">{{s+1}}.{{i+1}}</h3>
                                                    </div>
                                                    <div class="col-sm-11">
                                                        <!--<input id="questionInput" type="text" class="form-control" />-->
                                                        <sentence-edit [(sentence)]="question.Sentence"></sentence-edit>
                                                        <br />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <a *ngIf="!question.FileId" (click)="uploadImageForQuestion(question)">Upload Image</a>
                                                    <a *ngIf="question.FileId" (click)="question.FileId=null">Remove Image</a>
                                                    <br />
                                                    <img *ngIf="question.FileId" class="question-image" src="{{fileUploadService.getImageUrl(question.FileId)}}" />
                                                    <br />
                                                </div>
                                                <br />
                                                <div class="col-sm-12 form-horizontal container" *ngFor="let answer of question.Answers; let a = index">
                                                    <div class="row" *ngIf="!answer.Deleted">
                                                        <div class="col-sm-11">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <input type="checkbox" [(ngModel)]="answer.IsCorrect" >
                                                                </span>
                                                                <sentence-edit [(sentence)]="answer.Sentence"></sentence-edit>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <div style="margin-top: 5px;margin-left: -50px;">
                                                                <a (click)="delete(answer)">X</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <a (click)="addAnswer(question)">Add Answer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1" style="margin-top:20px">
                                        <a (click)="delete(question)">X</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a (click)="addQuestion(section)">Add Question</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <a (click)="delete(section)">X</a>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12">
                        <a (click)="addSection(questionnaire)">Add Section</a>
                    </div>
                </div>
        </div>
    </div>
</div>




<modal #modalSaved>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Saved</h4>
    </modal-header>
    <modal-body>
        Questionnaire saved:<br/> ({{questionnaire.Id}}) {{questionnaire.Description}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalSaved.dismiss()">Ok</button>
    </modal-footer>
</modal>

<modal #modalNewSentences (onClose)="updateConfirm()">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Saved</h4>
    </modal-header>
    <modal-body>
        New sentences will be created: do you want to procede:<br/>
        <ul>
            <li *ngFor="let sentence of newSentences; let i = index">
                {{sentence.Text}}
            </li>
        </ul>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalNewSentences.dismiss()">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalNewSentences.close()">Yes</button>
    </modal-footer>
</modal>

<modal #modalFileUpload>
    <modal-header [show-close]="!uploadingImage">
        <h4 class="modal-title">Upload Image</h4>
    </modal-header>
    <modal-body>
        <image-upload #uploadImageComponent style="width: 100%" showUploadButton="true" [(file)]="imageToUpload" (onUploadStarted)="uploadStarted()"
            (onUploadCompleted)="uploadFinished(true,$event)" (onUploadError)="uploadFinished(false,$event)"></image-upload>
    </modal-body>
    <modal-footer>
        <button *ngIf="!imageUploaded && !uploadingImage" type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalFileUpload.dismiss()">Cancel</button>
        <button *ngIf="imageUploaded" type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalFileUpload.dismiss()">Close</button>
    </modal-footer>
</modal>

<modal #infoModal>
    <modal-header [show-close]="!uploadingImage">
        <h4 class="modal-title">Info</h4>
    </modal-header>
    <modal-body>
        {{infoModalMessage}}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" autofocus data-dismiss="modal" (click)="modalSaved.dismiss()">Ok</button>
    </modal-footer>
</modal>