.question-image {
    max-height: 300px;
    max-width: 800px;
    margin: 0 auto;
}

.questionIndex {
    position: absolute;
    z-index: 999;
    margin-left: -40px;
    margin-top: -12px;
    font-weight: bold;
    font-size: 26px;
    text-align: right;
}
.questionnaire-edit{
    margin: 0 auto;
}

/* DETAILS AREA */
.detailsArea {
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
    border: 1px solid #537488;
    padding: 5px;
}
.detailsArea input{
    width: 100%;
    float: right;
}
.detailsArea label{
    font-weight: bold;
    font-variant: small-caps;
}
.detailsArea:after, input:after {
  content: "";
  display: table;
  clear: both;
}
/* END DETAILS AREA */

.section-view{
    width: 90%;
    margin: auto;
}
.section-view .description{
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid darkgray;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.section-view .description input[type=text]{
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid darkgray;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
    /*background-color: transparent;
    border: none;
	border-left: 4px solid #537488;
    border-bottom: 1px solid #537488;*/
}
.question-view{
    border-left: 5px solid darkgray;
    padding: 10px;
    margin-bottom: 40px;
}
.question-view p{
    font-size: 1.2em;
    padding: 10px;
}
.question-view .questionHeader{
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 20px;
}
.question-view .tools button{
    margin-left: 10px;
    float:right;
}
.answer-view input{
    float:left;
    width: 30px;
}
.answer-view div{
    width: 100%;
}
.centerContent {
    margin: auto;
    width: 100%;
    text-align: center;
}
.checkButton {
    width: 150px;
    height: 40px;
    font-size: 1.3em;
}
.rightAnswer{
    background-color: mediumseagreen;
}
.wrongAnswer{
    background-color: darkred;
}
