.sentence-edit input{
    width: 100%;
}
.sentence-edit .tools{
    border: 1px;
    border-style: solid;
    border-color: dimgray;
    padding: 10px;
}
.sentence-edit select{
    width: 100%;
}
.sentenceManagementLink {
    float: right;
    font-size: 10px;
}

/* This must stay in the global Style.css
div.ng2-auto-complete {
  width: 100%;
}*/